
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<a href=/start></a>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Debt Management notifications user testing
      </h1>
     
      <h2 class="govuk-heading-m">Version 2: March 2022</h2>
      <p>Scenario: You receive a letter from DWP Debt Management informing you of money owed. You do not contact DWP Debt Management and so two weeks later, you receive a reminder email .</p>
      <a href="/start_version2">View prototype</a><p></p>
      <h2 class="govuk-heading-m">Version 1: March 2022</h2>
      <p>Scenario: You receive an email from 'Repay and manage benefit money you owe'. A few days later, you receive a letter from 'DWP Debt Management'.</p>
      <a href="/start_version1">View prototype</a>
    </div>
  </div>

{% endblock %}
