{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
      
      <ul class="govuk-list govuk-list--bullet">
        <li><a href=/DM11letter_version2 class="govuk-link">DM11: Notification of money owed</a></li>
        <li><a href=/DM6letter_version2 class="govuk-link">DM6: Notification of money owed</a></li>
        <li><a href="/reminderletter_version2" class="govuk-link">What will happen next reminder</a></li>
      </ul>

    </div>

    <div class="govuk-grid-column-one-third">
    </div>
  </div>
{% endblock %}
